#
# Custom OpenShift configuration.
#
# NOTE: This file is rewritten every time the container is started!
#       Changes to this file will be overwritten.
#

{% if spec.version in ["9.6", "10", "11"] %}
standby_mode = on
{% endif %}
primary_conninfo = 'host=${MASTER_FQDN} port=5432 user=${POSTGRESQL_MASTER_USER} password=${POSTGRESQL_MASTER_PASSWORD}'
