# required on master for replication
wal_level = hot_standby         # minimal, archive, hot_standby, or logical
max_wal_senders = 6             # max number of walsender processes
wal_keep_segments = 400         # in logfile segments, 16MB each; 0 disables

# required on replicas for replication
hot_standby = on
